--
--DEVELOPER NOTE : Create Database before using this query!  --> CREATE DATAVASE [DbTaskManager]
--
USE [DbTaskManager]
GO
/****** Object:  Table [dbo].[SYS_COMPANY]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_COMPANY](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[C_NAME] [varchar](250) NULL,
	[C_ADDRESS] [varchar](300) NULL,
	[C_PHONE_NUMBER] [varchar](500) NULL,
	[C_CREATEDATE] [datetime] NULL,
	[C_STATUS] [smallint] NULL,
 CONSTRAINT [PK_SYS_COMPANY] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER](
	[U_ID] [int] IDENTITY(1,1) NOT NULL,
	[U_USERNAME] [nvarchar](250) NULL,
	[U_EMAIL] [nvarchar](250) NULL,
	[U_PASSWORD] [nvarchar](250) NULL,
	[U_CREATEDATE] [datetime] NULL,
	[U_STATUS] [smallint] NULL,
	[U_IMG] [nvarchar](max) NULL,
	[U_TYPE] [int] NULL,
	[U_COMPANY] [int] NULL,
 CONSTRAINT [PK_SYS_USER] PRIMARY KEY CLUSTERED 
(
	[U_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_LOG]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_LOG](
	[UL_ID] [int] IDENTITY(1,1) NOT NULL,
	[UL_U_ID] [int] NULL,
	[UL_EMAIL] [nvarchar](250) NULL,
	[UL_LOGIN_TYPE] [int] NULL,
	[UL_LOCAL_IP] [varchar](20) NULL,
	[UL_GLOBAL_IP] [varchar](20) NULL,
	[UL_CREATEDATE] [datetime] NULL,
	[UL_OPE] [varchar](10) NULL,
	[UL_STATUS] [smallint] NULL,
 CONSTRAINT [PK_SYS_USER_LOG] PRIMARY KEY CLUSTERED 
(
	[UL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER_ROLE]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_ROLE](
	[R_ID] [int] IDENTITY(1,1) NOT NULL,
	[R_NAME] [nvarchar](250) NULL,
	[R_COMPANY] [int] NULL,
	[R_CRATEDATE] [datetime] NULL,
	[R_STATUS] [smallint] NULL,
 CONSTRAINT [PK_SYS_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[R_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SPEC_CODES]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SPEC_CODES](
	[TS_ID] [int] IDENTITY(1,1) NOT NULL,
	[TS_REF_ID] [int] NULL,
	[TS_NAME] [nvarchar](100) NULL,
	[TS_COLOR] [nvarchar](50) NULL,
	[TS_CLASS] [nvarchar](50) NULL,
	[TS_CREATEDATE] [datetime] NULL,
	[TS_STATUS] [smallint] NULL,
	[TS_TYPE] [nvarchar](100) NULL,
 CONSTRAINT [PK_T_SPEC_CODES] PRIMARY KEY CLUSTERED 
(
	[TS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TASK]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TASK](
	[T_ID] [int] IDENTITY(1,1) NOT NULL,
	[T_NAME] [nvarchar](250) NULL,
	[T_EFFORT] [datetime] NULL,
	[T_DESC] [nvarchar](max) NULL,
	[T_T_STATUS] [int] NULL,
	[T_STATUS] [smallint] NULL,
	[T_U_ID] [int] NULL,
	[T_CRATEDATE] [datetime] NULL,
 CONSTRAINT [PK_T_TASK] PRIMARY KEY CLUSTERED 
(
	[T_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TASK_ASSIGNER]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TASK_ASSIGNER](
	[TA_ID] [int] IDENTITY(1,1) NOT NULL,
	[TA_T_ID] [int] NULL,
	[TA_TA_ID] [int] NULL,
	[TA_U_ID] [int] NULL,
	[TA_STATUS] [int] NULL,
	[TA_CREATEDATE] [datetime] NULL,
 CONSTRAINT [PK_T_TASK_ASSIGNER] PRIMARY KEY CLUSTERED 
(
	[TA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SYS_COMPANY] ADD  CONSTRAINT [DF_SYS_COMPANY_C_CREATEDATE]  DEFAULT (getdate()) FOR [C_CREATEDATE]
GO
ALTER TABLE [dbo].[SYS_USER] ADD  CONSTRAINT [DF_SYS_USER_U_PASSWORD]  DEFAULT ('04deeec7eb2a780eb066630b29aecf1889e37b33fcf5a98855c05b74a9e2a4b0') FOR [U_PASSWORD]
GO
ALTER TABLE [dbo].[SYS_USER] ADD  CONSTRAINT [DF_SYS_USER_U_CREATEDATE]  DEFAULT (getdate()) FOR [U_CREATEDATE]
GO
ALTER TABLE [dbo].[SYS_USER] ADD  CONSTRAINT [DF_SYS_USER_U_IMG]  DEFAULT ('DefaultFiles/unknown_user.png') FOR [U_IMG]
GO
ALTER TABLE [dbo].[SYS_USER_LOG] ADD  CONSTRAINT [DF_SYS_USER_LOG_UL_CREATE_DATE]  DEFAULT (getdate()) FOR [UL_CREATEDATE]
GO
ALTER TABLE [dbo].[SYS_USER_ROLE] ADD  CONSTRAINT [DF_SYS_USER_ROLE_R_CRATEDATE]  DEFAULT (getdate()) FOR [R_CRATEDATE]
GO
ALTER TABLE [dbo].[T_SPEC_CODES] ADD  CONSTRAINT [DF_T_SPEC_CODES_TS_CREATEDATE]  DEFAULT (getdate()) FOR [TS_CREATEDATE]
GO
ALTER TABLE [dbo].[T_TASK] ADD  CONSTRAINT [DF_T_TASK_T_CRATEDATE]  DEFAULT (getdate()) FOR [T_CRATEDATE]
GO
ALTER TABLE [dbo].[T_TASK_ASSIGNER] ADD  CONSTRAINT [DF_T_TASK_ASSIGNER_TA_CREATEDATE]  DEFAULT (getdate()) FOR [TA_CREATEDATE]
GO
/****** Object:  StoredProcedure [dbo].[SP_GLOBAL_STATUS]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GLOBAL_STATUS] 
@TYPE AS VARCHAR(100),
@STATUS AS INT,
@ID AS INT
AS 
BEGIN 
IF(@TYPE='Role')   
   BEGIN
		UPDATE SYS_USER_ROLE SET R_STATUS=@STATUS WHERE R_ID=@ID  --Update Role Status
   END
ELSE IF(@TYPE='User') 
   BEGIN 
		UPDATE SYS_USER SET U_STATUS=@STATUS WHERE U_ID=@ID   --Update User Status
   END
ELSE IF(@TYPE='Task')  
   BEGIN
		UPDATE T_TASK SET T_STATUS=@STATUS WHERE T_ID=@ID  --Update Task Status
   END
ELSE IF(@TYPE='TaskAssigners') 
	BEGIN 
		UPDATE T_TASK_ASSIGNER SET TA_STATUS=@STATUS WHERE TA_T_ID=@ID  --Update Task Assigner when Update task
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_GRID_DATA_BIND]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GRID_DATA_BIND] 
@TYPE AS VARCHAR(100),
@ID AS INT
AS 
BEGIN 
DECLARE @COMPANY_ID AS INT=(SELECT U_COMPANY FROM SYS_USER WHERE U_ID=@ID) 
IF(@TYPE='Task') --Task(Page) Grid
		BEGIN
		DECLARE @ROLE_NAME AS NVARCHAR(100)=(SELECT R_NAME FROM SYS_USER_ROLE WHERE R_ID=(SELECT U_TYPE FROM SYS_USER WHERE U_ID=@ID))

				SELECT 	JSON_QUERY((SELECT ISNULL((
	                    SELECT   T_ID [id],T_NAME [name],
								FORMAT(T_EFFORT ,'dd/MM/yyyy hh:mm') [effort] ,ISNULL(T_DESC ,'')[desc],
								T_T_STATUS [tstatus],
								TS_NAME [statusName],
								TS_CLASS [colorClass],
								(SELECT U_USERNAME [username] ,U_IMG [img] FROM T_TASK_ASSIGNER 
								LEFT JOIN SYS_USER ON TA_TA_ID=U_ID AND U_STATUS<>-1
								WHERE TA_T_ID=T_ID AND TA_STATUS=1  FOR JSON PATH) [assigners]   
								FROM T_TASK 
								LEFT JOIN T_SPEC_CODES ON  T_T_STATUS=TS_REF_ID AND TS_TYPE='Task' AND TS_STATUS=1
								INNER JOIN SYS_USER ON U_ID=T_U_ID AND U_STATUS<>-1 
								LEFT JOIN T_TASK_ASSIGNER ON TA_T_ID=T_ID AND TA_STATUS<>-1
								WHERE T_STATUS=1   AND U_COMPANY=@COMPANY_ID AND (@ROLE_NAME='Adminstrator' OR T_U_ID=@ID  OR TA_TA_ID=@ID )
								GROUP BY T_ID,T_NAME,T_EFFORT,T_DESC,T_T_STATUS,TS_CLASS,TS_NAME
								ORDER BY T_ID DESC
                    FOR JSON PATH ) ,'[]') ))
		END
ELSE IF(@TYPE='UserDashboard')  --Task General 
BEGIN
			SELECT 	JSON_QUERY((SELECT ISNULL((
	              SELECT U_ID [id], U_USERNAME [username],U_IMG [image],C_NAME [companyName],R_NAME [position],U_EMAIL [email],U_TYPE [roleId]  FROM SYS_USER 
						LEFT JOIN  SYS_COMPANY ON U_COMPANY=C_ID AND C_STATUS<>-1
						LEFT JOIN SYS_USER_ROLE ON U_TYPE=R_ID AND R_STATUS<>-1 AND R_COMPANY=@COMPANY_ID 
						WHERE  U_STATUS=1 AND U_ID=@ID
                FOR JSON PATH  ) ,'[]')))
END
ELSE IF(@TYPE='UserInCompnay') --User(Page) Grid
BEGIN

			SELECT 	JSON_QUERY((SELECT ISNULL((
	              SELECT U_ID [id], U_USERNAME [username],U_IMG [image],C_NAME [companyName],R_NAME [position],U_EMAIL [email],FORMAT(U_CREATEDATE ,'dd/MM/yyyy') [createDate] FROM SYS_USER 
						LEFT JOIN  SYS_COMPANY ON U_COMPANY=C_ID AND C_STATUS<>-1
						LEFT JOIN SYS_USER_ROLE ON U_TYPE=R_ID AND R_STATUS<>-1 AND R_COMPANY=@COMPANY_ID 
						WHERE  U_STATUS=1 AND U_COMPANY=@COMPANY_ID AND R_NAME<>'Adminstrator'
						ORDER BY U_ID DESC
                FOR JSON PATH ) ,'[]')))
END
ELSE IF(@TYPE='UserRoles') --Role(Page) Grid
BEGIN
			SELECT 	JSON_QUERY((SELECT ISNULL((
	             SELECT R_ID [id],R_NAME [name],FORMAT(R_CRATEDATE ,'dd/MM/yyyy') [createDate] ,R_STATUS [status] FROM SYS_USER_ROLE WHERE R_STATUS<>-1
				 AND R_COMPANY=@COMPANY_ID  AND  R_NAME<>'Adminstrator' ORDER BY R_ID DESC
           FOR JSON PATH) ,'[]')))
END
END

SELECT * FROM SYS_USER_ROLE WHERE R_STATUS=1
GO
/****** Object:  StoredProcedure [dbo].[SP_MODAL_DATA_BIND]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MODAL_DATA_BIND] 
@TYPE AS VARCHAR(100),
@COMPANY_ID AS INT,
@ID AS INT
AS 
BEGIN 
IF(@TYPE='Role')   --Role Modal
BEGIN
	IF(@ID=0)
		BEGIN
			SELECT 	JSON_QUERY(( SELECT 0 [id],'' [name] FOR JSON PATH,WITHOUT_ARRAY_WRAPPER))   --New
		END
	ELSE	
		BEGIN
			SELECT 	JSON_QUERY(( SELECT R_ID [id], R_NAME [name] FROM SYS_USER_ROLE WHERE R_ID=@ID   AND R_STATUS<>-1 FOR JSON PATH,WITHOUT_ARRAY_WRAPPER))   --Edit
		END
END
ELSE IF(@TYPE='User') --User Modal
BEGIN
	IF(@ID=0)
		BEGIN 
			SELECT 	JSON_QUERY(( SELECT 0 [id],'' [username],'' [email],0 [position],
								(SELECT R_ID [id],R_NAME [name]  FROM SYS_USER_ROLE WHERE R_STATUS=1 AND R_COMPANY=@COMPANY_ID AND R_NAME<>'Adminstrator' FOR JSON PATH ) [roles]  --New
								FOR JSON PATH,WITHOUT_ARRAY_WRAPPER))
		END
	ELSE
		BEGIN
					SELECT 	JSON_QUERY(( SELECT U_ID [id],U_USERNAME [username] ,U_EMAIl [email],U_TYPE [position],
								(SELECT R_ID [id],R_NAME [name] FROM SYS_USER_ROLE WHERE R_STATUS=1  AND R_COMPANY=@COMPANY_ID AND R_NAME<>'Adminstrator' FOR JSON PATH ) [roles]  --Edit
								FROM SYS_USER WHERE U_ID=@ID  AND U_STATUS<>-1
								FOR JSON PATH,WITHOUT_ARRAY_WRAPPER))
		END
END
ELSE IF(@TYPE='Task') --Task Modal
BEGIN

IF(@ID=0)
		BEGIN
		SELECT 	JSON_QUERY((
	                        SELECT 0 [id], '' [name],'' [deadLine],'' [desc],0 [status],'' [uids],
									(SELECT TS_REF_ID [id],TS_NAME [name] FROM T_SPEC_CODES WHERE TS_TYPE='Task' AND TS_STATUS=1 ORDER BY TS_REF_ID FOR JSON PATH ) [statuses], --New
									(SELECT U_ID [id],U_USERNAME [username] FROM SYS_USER 
									LEFT JOIN SYS_USER_ROLE ON R_ID=U_TYPE AND R_STATUS=1
									WHERE U_STATUS=1  AND U_COMPANY =@COMPANY_ID AND  R_NAME <>'Adminstrator'
									FOR JSON PATH ) [users]
                            FOR JSON PATH,WITHOUT_ARRAY_WRAPPER))
		END
ELSE
		BEGIN
		 		SELECT 	JSON_QUERY((
	                        SELECT T_ID [id],T_NAME [name],FORMAT(T_EFFORT ,'yyyy-MM-dd') [deadLine],T_DESC [desc],T_T_STATUS [status],
							(STUFF((SELECT ',' + CAST(TA_TA_ID AS VARCHAR)  FROM T_TASK_ASSIGNER WHERE TA_T_ID=T_ID AND TA_STATUS=1
							 FOR XML PATH('')),1, 1, '')) [uids],
									(SELECT TS_REF_ID [id],TS_NAME [name] FROM T_SPEC_CODES WHERE TS_TYPE='Task' AND TS_STATUS=1  ORDER BY TS_REF_ID  FOR JSON PATH ) [statuses], --Edit
									(SELECT U_ID [id],U_USERNAME [username] FROM SYS_USER 
									LEFT JOIN SYS_USER_ROLE ON R_ID=U_TYPE AND R_STATUS=1
									WHERE U_STATUS=1  AND U_COMPANY =@COMPANY_ID AND  R_NAME <>'Adminstrator'
									FOR JSON PATH ) [users]
							FROM T_TASK WHERE T_ID=@ID
                        FOR JSON PATH,WITHOUT_ARRAY_WRAPPER)) 
		END

END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SYS_AUTH_MESSAGE]    Script Date: 8/30/2021 8:21:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SYS_AUTH_MESSAGE] 
@EMAIL AS VARCHAR(250), 
@PASSWORD AS VARCHAR(250) AS BEGIN 
DECLARE @BLOCKEDMINUTE AS INT=30;
IF EXISTS (SELECT U_ID FROM SYS_USER  WHERE (U_EMAIL=@EMAIL) AND U_PASSWORD = @PASSWORD AND U_STATUS=1  AND (SELECT COUNT(UL_ID) FROM SYS_USER_LOG WHERE UL_CREATEDATE > DATEADD(MINUTE,-15, GETDATE()) AND UL_EMAIL=@EMAIL AND UL_LOGIN_TYPE=0)<3) 
BEGIN
SELECT '500'[code],'Success!' [message]
END
ELSE IF EXISTS (SELECT U_ID FROM SYS_USER  WHERE (U_EMAIL=@EMAIL)  AND U_STATUS=1  AND (SELECT COUNT(UL_ID) FROM SYS_USER_LOG  WHERE UL_CREATEDATE > DATEADD(MINUTE,-@BLOCKEDMINUTE, GETDATE()) AND UL_EMAIL=@EMAIL AND UL_LOGIN_TYPE=0)>=3) 
BEGIN
SELECT '401-1'[code],'Your account was blocked for '+CAST(@BLOCKEDMINUTE AS VARCHAR)+' minutes!' [message]
END
ELSE IF EXISTS (SELECT U_ID FROM SYS_USER  WHERE (U_EMAIL=@EMAIL) AND U_PASSWORD = @PASSWORD AND U_STATUS=1) 
BEGIN
SELECT '401-2'[code],'Your account has been expired!' [message]
END
ELSE
BEGIN 
SELECT '401'[code], 'Incorrect email or password!'[message]
END
END
GO
INSERT INTO T_SPEC_CODES (TS_REF_ID ,TS_NAME,TS_COLOR,TS_CLASS,TS_STATUS,TS_TYPE)
				   VALUES(1,'To do','gray','btn-secondary',1,'Task'),
				         (2,'In progress','blue','bg-primary',1,'Task'),
						 (3,'On hold','orange','bg-warning',1,'Task'),
						 (4,'Done','green','bg-success',1,'Task')
GO
